@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400&display=swap');
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
    transition: 0.2s ease;
    text-decoration: none;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4070f4;
}

.form{
    max-width: 430px;
    width: 100%;
    padding: 30px;
    background-color: #fff;
    border-radius: 6px;
}

header{
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

form{
    margin-top: 36px;
}

form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
}

.field input{
    border: 1px solid #CACACA;
    padding: 0 15px;
}

.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;

}

.form-link{
    text-align: center;
    margin-top: 10;
    
}

.form-link a:hover{
    font-size: 15px;
}

.form-link a{
    color: #0171d3;
}

button{
    background-color: #0171d3;
    color: #fff;
}

button:hover{
    background-color:#CACACA;
    color: #232836;
}

.eye-icon{
    position: absolute;
    font-size: 18px;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

.savebtn{
    border: none;
    padding: 10px;
    margin: 40px 0;
    width: 100%;
}

.Computerform input{
   margin: 20px 0;
   padding:20px;
   width: 100%;
}